<!--include the currency conversion form and the result summary components-->
<div class="container solid-white-border app-background-primary-color m-auto p-3 sticky-top">
  <!--  currency exchange form component-->
  <app-currency-converter-form [isConvertingState]="isConvertingFromCurrencyLoading"
                               (convertCurrencyEvent)="convertCurrencyAmount($event)" [currencies$]="currencyList"
                               (amountEnteredEvent)="handleEnteredAmountEvent($event)"></app-currency-converter-form>
  <!--  converted currency brief summary component-->
  <app-currency-conversion-summary *ngIf="!isConvertingFromCurrencyLoading"
                                   [convertedCurrencyPair]="convertedBaseCurrencyValue"
                                   (viewConvertedCurrentPairDetailEvent)="loadCurrencyPairDetail($event)">
  </app-currency-conversion-summary>
  <!--  loader when conversion is happening-->
  <div class="m-auto text-center" *ngIf="isConvertingFromCurrencyLoading">
    <div class="content-divider"></div>
    <app-loader [loaderMessage]="loadingConvertingMessage"></app-loader>
  </div>
</div>

<div class="content-divider"></div>
<!--include the 3x3 card for other 3 popular currencies conversion-->
<div class="container solid-white-border app-background-primary-color m-auto p-3 sticky-top">
  <!--  loader for converting other popular currencies -->
  <div class="m-auto text-center" *ngIf="isConvertingPopularCurrenciesLoading">
    <app-loader [loaderMessage]="loadingPopularCurrenciesConvertingMessage"></app-loader>
  </div>
  <app-popular-currency-list
    [convertedOtherPopularCurrenciesPair]="convertedOtherPopularCurrenciesValues"></app-popular-currency-list>
</div>
